<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(96, 163, 188)!important">
  <a href="#" *ngIf = "loggedIn" class="navbar-brand">Agent</a>
  <button class="navbar-toggler" data-target="#navigation" data-control="navigation" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigation" style="width: 95%;">
    <ul class="nav navbar-nav">	
      <li class="nav-item">
        <a class="nav-link" *ngIf = "!loggedIn" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf = "loggedIn" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf = "loggedIn" [routerLink]="['/reservations']">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf = "loggedIn" [routerLink]="['/housing-unit-view']">Housing Units</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf = "loggedIn" [routerLink]="['/housing-unit-add']">Add Housing Unit</a>
      </li>
    </ul>
  </div>
  <div id="navbar" class="navbar-collapse collapse" style="width: 5%;">
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="loggedIn" class="nav-item" >
        <a class="nav-link" (click) = "logOut()">Log out</a></li>
    </ul>
  </div>
</nav>