<app-meni-bar></app-meni-bar>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
      <div class="form-group">
        <div class="input-group">
            <input class="form-control search-slt" type="text" placeholder="Grad" name="grad" [(ngModel)]="search.grad" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>            
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control search-slt" type="text" placeholder="Zemlja" name="zemlja" [(ngModel)]="search.zemlja" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>            
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control search-slt" type="text" placeholder="Broj osoba" name="osobe" [(ngModel)]="search.brojLjudi" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>            
    </div>  
    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
          <div class="form-group">
              <div class="input-group">
                  <input class="form-control search-slt" placeholder="Pocetni datum"
                          name="dp1" [(ngModel)]="beginDate" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [ngModelOptions]="{standalone: true}" required>
              </div>
          </div>            
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12 p-0">
        <div class="form-group">
          <div class="input-group">
              <input class="form-control search-slt" placeholder="Krajnji datum"
                      name="dp2" [(ngModel)]="endDate" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>            
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12 p-0">
        <div class="form-group">
          <div class="input-group">
            <button class="btn btn-primary" (click) = "searchFunction()" >Pretrazi</button>
          </div>
        </div>            
      </div> 
  </div>

  <div class="list-group">
          <a *ngFor = "let i = index; let accommodation of accommodationToShow | paginate: { itemsPerPage: 10, currentPage: p }" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{accommodation.adress.country}} - {{accommodation.adress.city}}</h5>
              <small class="text-muted">Rating: {{accommodation.rating}}</small> 
            </div>
                          
            <p class="mb-1">{{accommodation.description}}</p>
            <small>{{accommodation.type.name}}</small>
            <div *ngIf="clickedSearch" class="col-lg-12" style="text-align: end;">
                  <button class="btn btn-primary" (click) = "book(accommodation)" >Book</button>
              </div>
          </a>
          <div class="item col-lg-10 col-lg-10" style="width: 100%; text-align: center;">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
        </div>
</div>